# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [31]:
import numpy as np
import pandas as pd
import scipy.stats
import getpass
from sqlalchemy import create_engine
!pip install PyMySQL
import pymysql

Requirement already satisfied: PyMySQL in c:\users\usuario\anaconda3\lib\site-packages (0.10.0)

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [11]:
# we need to create the variables
driver = 'mysql+pymysql'
user = 'root'
password = getpass.getpass(prompt='Your password:'"")
ip = '127.0.0.1'

Your password:········

In [12]:
#we create the string that will formulate our variables into a conecction
connection_string = f'{driver}://{user}:{password}@{ip}'
#then send it to connect
db_connection = create_engine(connection_string)

Examine the `salaries` dataset using the `head` function below.

In [13]:
employees_advanced = pd.read_sql_query('SELECT * FROM employees.employees_advanced;', db_connection)
employees_advanced.head()

OperationalError: (pymysql.err.OperationalError) (1049, "Unknown database 'employees'")
[SQL: SELECT * FROM employees.employees_advanced;]
(Background on this error at: http://sqlalche.me/e/e3q8)

WE TRIED WITH SQL BUT THAT DB DOES NOT EXIST IN OUR LOCAL :)

In [15]:
path = r'C:\Users\Usuario\Desktop\gits\lab-hypothesis-testing\your-code\data'
employees_advanced = pd.read_csv(path+'/'+'Current_Employee_Names__Salaries__and_Position_Titles.csv')
employees_advanced.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [17]:
# Your code here:
employees_advanced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [18]:
employees_advanced.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [20]:
# Your code here:
employees_advanced['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [21]:
# Your code here:
employees_advanced['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [35]:
# Your code here:
# H0. Hourly wage of hourly workers (avg) = $30/h so that if we obsrve a difference is because of chance
# H1.  Hourly wage of hourly workers (avg) != $30/h so it can either be higher or lower
#hourly_wage=employees_advanced['Annual Salary']
hourly_rates = employees_advanced[employees_advanced['Salary or Hourly']=='Hourly']['Hourly Rate']
print(hourly_rates)
hourly_rates = pd.Series(hourly_rates)
print(hourly_rates.mean())
scipy.stats.ttest_1samp(a = hourly_rates, popmean = 30)

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64
32.78855771628128

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

SARA: The pvalues is ridiculosly low sow we totally reject the null hypothesis, it is almost imposible that the mean average of hourly rates to be 30d/, if we compute the mean for the data we have we see it is 32.79d/h

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [42]:
# Your code here:
#H0. Annual salary of salaried workers of the Police is = to last year's 86000
#H1. Annual salary of salaried workers of the Police is != to last year's 86000 
#hint we thing bigger so we need the statistic to be possitive.
police_salaries = []
for index,i in  enumerate(employees_advanced['Annual Salary']):
    if employees_advanced['Salary or Hourly'][index]=='Salary' and employees_advanced['Department'][index]=='POLICE':
        police_salaries.append(employees_advanced['Annual Salary'][index])

police_salaries = pd.Series(police_salaries)
print(police_salaries.mean())
scipy.stats.ttest_1samp(a = police_salaries, popmean = 86000)

86486.41450313339

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [45]:
pvalue=0.0020603403550965137/2
pvalue*100

0.10301701775482569

SARA: Since this is in theory a one tailed test because we want to test if it is greater than 86,000 we have to divide the  pvalue/2 and we see that it is still a very low probability, we reject and can afirm it was bigger because the statistic is possitive. So this year salary was in fact statistically bigger than last years.

Using the `crosstab` function, find the department that has the most hourly workers.

In [63]:
# Your code here:
corssed_dept_hourly = pd.crosstab(employees_advanced['Department'],employees_advanced['Salary or Hourly'])
print(corssed_dept_hourly)
corssed_dept_hourly.Hourly.max()
max_h = corssed_dept_hourly[corssed_dept_hourly['Hourly']==corssed_dept_hourly.Hourly.max()]
max_h

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

Salary or Hourly  Hourly  Salary
Department
STREETS & SAN       1862     336

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [67]:
# Your code here:
# H0. Hourly wage for Streets&Sanitation hourly workers is = $35/h
# H1. Hourly wage for Streets&Sanitation hourly workers is != $35/h
street_hourly = []
for index,i in  enumerate(employees_advanced['Hourly Rate']):
    if employees_advanced['Salary or Hourly'][index]=='Hourly' and employees_advanced['Department'][index]=='STREETS & SAN':
        street_hourly.append(employees_advanced['Hourly Rate'][index])
street_hourly=pd.Series(street_hourly)
street_hourly.mean()
scipy.stats.ttest_1samp(a = street_hourly, popmean = 35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

Since the p value is super small and the statistic is negative we can reject the null hypothesis that they earn 35$/h and and confirm they earn less than that.

In [68]:
#ali's master solution <3
alpha = 0.05
police_filtered = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]
police_salaries = police_filtered['Annual Salary']

st, p = ttest_1samp(police_salaries, 86000)

if p < alpha:
    print("Null hypothesis rejected")
    if st < 0:
        print("The mean salary this year is lower than last year's mean")
    else: 
        print("The mean salary this year is greater than last year's mean")
else:
    print("Null hypothesis can't be rejected")
print('Statistic: ', st)
print('p-value: ', p)

NameError: name 'salaries' is not defined

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [70]:
# Your code here:
scipy.stats.t.interval(0.95, len(hourly_rates)-1, loc=np.mean(hourly_rates), scale=scipy.stats.sem(hourly_rates))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [74]:
# Your code here:
salaries = []
for index,i in  enumerate(employees_advanced['Annual Salary']):
    if employees_advanced['Salary or Hourly'][index]=='Salary':
        salaries.append(employees_advanced['Annual Salary'][index])

scipy.stats.t.interval(0.95, len(salaries)-1, loc=np.mean(salaries), scale=scipy.stats.sem(salaries))

(86526.99656774187, 87047.00301256099)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: